body {
    background-color: rgb(240, 240, 240);
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
    line-height: 1.5;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.bold {
    font-weight: bold;
}

.container1 {
    align-content: center;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 25px; 
    text-align: center;
    box-shadow: 1px 1px 5px 1px rgb(217, 218, 219), -1px -1px 5px 1px rgb(217, 218, 219);
}

.container1 img {
    align-content: center;
    border: 2px solid rgb(148, 147, 147);
    border-radius: 65px;
    height: 130px;
}

.container1 h1 {
    color:  rgb(204, 67, 67);
    font-weight: 800;
    font-size: 30px;
    margin: none;
}

.container1 h2 {
    font-weight: 300;
    font-size: 22px;
    margin: none;

}

.container1 p {
    font-size: 22px;
    text-align: justify;
}

.container1 a {
    background-color: rgb(204, 67, 67);
    border-radius: 2px;
    color: white;
    display: block;
    max-width: 170px;
    padding: 10px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    

}

/* Social Media Links */

.container2 {
    background-color: white;
    border-radius: 2px;
    height: 200px;
    margin-bottom: 25px;
    padding: 15px;
    align-content: center;
    vertical-align: middle;
    box-shadow: 1px 1px 5px 1px rgb(217, 218, 219), -1px -1px 5px 1px rgb(217, 218, 219);
}

.container2 ul {
    margin: 0;
    padding: 0;

}

.container2 li {
    font-size: 22px;
    float: left;
    list-style: none;
    margin-right: 50px;
}   

.container2 a {
    display: block;
    text-decoration: none;
    color: gray; 
    
}

/* Social Media Links ENDS */

/* Movies */

.container3 {
    background-color: white;
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 1px 1px 5px 1px rgb(217, 218, 219), -1px -1px 5px 1px rgb(217, 218, 219);
}

.container3 h2 {
    text-align: center;
    font-weight: 400;
}

.container3 img {
    float: left;
    height: 150px;
    margin: 35px;
}

.movie1 .movie2 .movie3{
    display: block;
    margin-bottom: 30px;
}

.container3 p {
    font-size: 22px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.container3 h3 {
    text-align: center;
    font-weight: 400;
}

/* --- Clear floats ---*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
/* End of Clear floats */
